<div class="container p-3" style="width: 500px">
  <%= form_with model: @article do |f| %>
  <div class="mb-3">
    <%= f.label :article, :class => 'form-label' %>
    <%= f.text_field :article, :class => 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :content, :class => 'form-label'  %>
    <%= f.text_field :content, :class => 'form-control'  %>
  </div>
    <%= f.submit :class => 'btn btn-primary' %>
  <% end %>
</div>
