<div class="container" style="width: 500px">
  <div class="border-bottom text-center">
    <h2><%= @article.title %></h2>
     <div class="d-flex justify-content-center mb-3"">
    <div class="p-1">
      <%= link_to "Back to articles", articles_path(@tasks), class: 'text-decoration-none' %>
      <i class="fa-solid fa-rotate-left"></i>
    </div>
    <div class="p-1">
      <%= link_to "Edit article", edit_article_path(@article), class: 'text-decoration-none' %>
      <i class="fa-solid fa-pen-to-square"></i>
    </div>
    <div class="p-1">
      <%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <i class="fa-solid fa-delete-left"></i>
    </div>
  </div>
  </div>
  <div class="text-start border-bottom pt-3 pb-3">
    <p><%= @article.content %></p>
  </div>

</div>
